<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 mb-3">
        <div class="card shadow" style="width: 18rem;">
          <div class="card-body mb-4 mt-4">
            <h3><i class="fa fa-list-alt" aria-hidden="true"></i> Plotlist</h3>
            <div class="section mb-3 mt-3">
              <p class="lead">Find Nearby Places &amp; Things</p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <button class="btn btn-outline-danger">
                <a href="/auth/google">
                <i class="fab fa-google left" aria-hidden="true"></i>
                Log In With Google
              </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>