<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h3><i class="fa fa-list-alt" aria-hidden="true"></i> StoryBooks</h3>
        <div class="section">
          <p class="lead">Create public and private stories from your life</p>
        </div>
        <div class="divider"></div>
        <div class="section">
          <a href="/auth/google" class="btn red darken-1">
            <i class="fab fa-google left" aria-hidden="true"></i>
            Log In With Google
          </a>
        </div>  
      </div>
    </div>
  </div>
</div>