<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="top-text header-text">
          <h1>Server Error</h1>
          <p>We're sorry, something went wrong</p>
          <button type="button" class="main-button"><i
              class="fa fa-paper-plane"
            ></i>
            <a href="/">Go back home</a></button>
        </div>
      </div>
    </div>
  </div>
</div>